spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://pre-009.cf1lvrl9ujgl.ap-northeast-2.rds.amazonaws.com:3306/pre009db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: qwerasdf
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
server:
  servlet:
    encoding:
      force-response: true
mail:
  address:
    admin: admin@gmail.com
jwt:
  secret: "abcedesdfsdftest32322333333ddssssss"
  access-token-expiration-minutes: 600
  refresh-token-expiration-minutes: 1500

