:root {
    /* color */
    --point__color: #F48225;

    --menu__active: #F1F2F3;
    --tab__focus: #E3E6E8;
    
    --button__back: #0A95FF;
    --button__back--hover: #0069C5;
    
    --tag__back: #E1ECF4;
    --tag__content: #39739D;
    
    --sidebar__top: #FBF3D5;
    --sidebar__body: #FDF7E2;
    --sidebar__line: #F1E5BC;
    --sidebar__title: ;
    
    --footer__back: #23262A;

    --content__view--low: #989EA4;
    --content__view--mid: #83690B;
    --content__view--high: #922024;
    --content__answer: #2E7044;
    
    --sidebar__related: #5EBA7C;

    --link__content: #0074CC;

    /* text color */
    --black__100:#BABFC4;
    --black__200:#989EA4;
    --black__300:#6A737C;
    --black__400:#3B4044;
    --black__500:#2e3235;
    --black__600:#222427;
    --black__700:#0c0d0e;

    /* font size */
    --fs-fine: 11px;
    --fs-caption: 12px;
    --fs-body1: 13px;
    --fs-body2: 1.15384615rem;
    --fs-body3: 1.30769231rem;
    --fs-subheading: 1.46153846rem;
    --fs-title: 1.61538462rem;
    --fs-headline1: 2.07692308rem;
    --fs-headline2: 2.61538461rem;
    --fs-display1: 3.30769231rem;
    --fs-display2: 4.23076923rem;
    --fs-display3: 5.30769231rem;
    --fs-display4: 7.61538461rem;
    --fs-body2-relative: 1.15384615em;
    --fs-body3-relative: 1.30769231em;
    --fs-subheading-relative: 1.46153846em;
    --fs-title-relative: 1.61538462em;
    --fs-headline1-relative: 2.07692308em;
    --fs-headline2-relative: 2.61538461em;
    --fs-display1-relative: 3.30769231em;
    --fs-display2-relative: 4.23076923em;
    --fs-display3-relative: 5.30769231em;
    --fs-display4-relative: 7.61538461em;
}